.git
.gitignore
.vscode
.idea
**/__pycache__
**/*.pyc
**/.pytest_cache
**/.mypy_cache
**/.venv
**/venv
**/env
frontend/node_modules
frontend/dist
backend/app/data/uploads/*
!backend/app/data/uploads/documents.json